@use "../../styles/variables" as *;
.wind-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  opacity: 0.96;
  font-family: $titre;
  background: $fond;
  
}
.rose-box{
  position: relative;
  width: 48px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 1rem;
  .rose-des-vents{
    position: absolute;
    z-index: 0;
    width: 48px;
    height: 48px;
  }
  .rose-fleche{
    z-index: 2;
    width: 40px; 
    height: 40px;
    transition: transform 0.6s ease;
    @for $i from 0 through 360{
      &.rotate-#{$i}{
        transform: rotate(#{$i}deg);
      }
    }
  }
}

.wind-speed{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  width: 40%;
  height: 128px;
  gap: 0.5rem;
}
.wind-rain{
  display: flex;
  align-items: center;
  width: auto;
  height: 128px;
  p{
    padding-left: 0.5rem;
  }
}
.wind-text{
  font-size: 0.7rem;
  font-weight: 400;
  color: $texteClear;
  text-align: center;
  margin: 0;
  padding: 0;
}

