@use "../../styles/variables" as *;
.wind-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 160px;
  border-radius: 16px;
  opacity: 0.96;
  font-family: $titre;
}
.rose-box{
  position: relative;
  scale: 0.8;
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  .rose-des-vents{
    position: absolute;
    z-index: 0;
    width: 128px;
    height: 128px;
  }
  .rose-fleche{
    z-index: 2;
    width: 100px; 
    height: 100px;
    transition: transform 0.6s ease;
    @for $i from 0 through 360{
      &.rotate-#{$i}{
        transform: rotate(#{$i}deg);
      }
    }
  }
}

.wind-speed{
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 128px;
}
.wind-rain{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 128px;
}
.wind-icone{
  width: 64px;
  height: 64px;
}

.wind-value{
  font-size: 1rem;
  color: $texte;
  text-align: center;
  margin-top: 16px;
}
.wind-text{
  font-size: 1rem;
  color: $texte;
  text-align: center;
  margin-top: 16px;
}