@use "../../styles/variables" as *;
.wind-container{
  display: flex;
  justify-content: space-evenly;
  height: 160px;
  border-radius: 16px;
  opacity: 0.96;
  font-family: $titre;
}
.rose-box{
  position: relative;
  scale: 0.8;
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  .rose-des-vents{
    position: absolute;
    z-index: 0;
    width: 128px;
    height: 128px;
  }
  .rose-fleche{
    z-index: 2;
    width: 100px; 
    height: 100px;
    transition: transform 0.6s ease;
    @for $i from 0 through 360{
      &.rotate-#{$i}{
        transform: rotate(#{$i}deg);
      }
    }
  }
}

.wind-speed{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 128px;
}
.wind-rain{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 128px;
}
.wind-label{
  font-family: $paragraphe;
  font-size: 0.9rem;
  color: $secondary_2;
  margin: 16px auto;
}
.wind-value{
 
  font-size: 1.4rem;
  color: $secondary_4;
  text-align: center;
  margin: 0;
}
.wind-text{
  font-size: 0.8rem;
  color: $secondary_2;
  text-align: center;
  margin-top: 16px;
}