@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
.location-container{
  width: 96%;
  height: 144px;
  margin: 16px auto;
  display: flex;
  border-top: 1px solid $Line;
  border-bottom: 1px solid $Line;
}
.location-text{
  width: 80%;
  display: flex;
  flex-direction: column;
}
.location-town{
  @include textMedium("ubuntu", 1.4rem, 0.1rem, 0.6rem, 1.5rem);
}
.location-department{
  @include textMedium("ubuntu", 0.8rem, 0.02rem, 0.8rem, 0.6rem);
}
.location-region{
  @include textMedium("courgette", 1rem, 0.05rem, 0.8rem, 1rem);
}
.location-button{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn-box{
  width: 112px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  // border: 1px solid $ButtonBackgroundHover;
  border-radius: 32px;
  background: $ButtonBackground;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  &:hover{
    opacity: 1;
    scale: 0.97;
    cursor: pointer;
  }
}
.btn-text{
  font-family: "Ubuntu", sans-serif;
  color: $ButtonText;
  margin-left: 1.2rem;
}
.btn-img{
  width: 34px;
  height: 34px;
  margin-right: 0.3rem;
}

    

