@use "../../styles/variables" as *;
.footer-container{
  position: fixed;
  bottom: 0;
  left: 0;
  border: 1px dashed cyan;
  width: 100%;
  height: 96px;
  border-radius: 0 0 16px 16px;
  // border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: burlywood;
  .footer-text{
    width: max-content;
    margin-top: 0.5rem;
    color: $dreamy;
    text-align: center;
    opacity: 1;
    font-size: 2rem;
  }
}