*{
  color: rgb(237, 252, 247);
}
.container{
  width: max-content;
  height:80vh;
}
table{
  background: rgb(92, 69, 88);
  .table-labels td{
    width: 10rem;
    text-align: center;
    color: rgb(49, 177, 232);
    
  }
  .table-values td{
    width: 10rem;
    text-align: center;
    color: rgb(159, 166, 30);
    font-size: 1.2rem;

  }
}

.meteo-box{
  width: auto;
  height: 100vh;
}
.meteo-entete{
  display: flex;
  p{
    width: 12rem;
  }
}
.meteo-colonnes{
  display: flex;
  p{
    width: 12rem;
  }
}
