@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
.city-container{
  position: absolute;
  top: 13rem;
  width: 100%;
  height: 128px;
  background-color:$SelectCityBackground;
  .entete{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    .city-close{
      width: 36px;
      height: 36px;
    }
  }
}
.city-comment{
  @include textMedium($roboto, 0.7rem, 0.01rem, 0.5rem, 0 );
  margin-top: 2vh;
  margin-left: 1rem;
}
.input-box{
  width: 80%;
  height: 3.3rem;
  display: flex;
  margin: 0 0 0 1rem;
}  
input{
  // width: 100%;
  height: 2.8rem;
  background-color: $ButtonBackgroundHover;
  border-radius: 8px;
  color: $ButtonText;
  outline: none;
  &:focus-visible {
    background: lighten($color: $ButtonBackgroundHover, $amount: 40%);
  }
  @include textMedium($ubuntu,1.2rem,0.1rem,0.4rem,0.3rem)
}
.city-btn-cancel{
  scale:0.6;
  position: relative;
  background-color: transparent; //$ColTitleBackground;
  border: none;
  border-radius: 0 4px 4px 0;
  left: -50px;
  top: 2px;
  transition: all 0.2s ease-in-out;
  &:hover{
    opacity: 0.4;
    cursor: pointer;
  }
}
.city-list{
  position: absolute;
  left: 1.4rem;
  max-height: 64vh;
  padding: 0.4rem 1rem 0.4rem 0.1rem;
  background: $ListBackground;
  z-index: 1000;
  overflow-y: scroll;
  scrollbar-color: $TextDark $ListBackground ;
  scrollbar-width: thin;
  scroll-padding-left: 0.5rem;
}
.city-item{
  width: 14rem;
  color: $CeilValues;
  padding: 0.4rem 0 0.4rem 0;
  border-bottom: 1px solid $Line;
  @include textMedium($ubuntu,1rem,0.03rem,0.3rem,0.3rem);
  &:hover{
    cursor: pointer;
    opacity: 0.6;
  }
}