@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
.location-container{
  margin: 16px auto;
  display: flex;
  border-top: 1px solid $primary_1;
  border-bottom: 1px solid $primary_1;
}
.location-text{
  width: 70%;
  display: flex;
  flex-direction: column;
}
.location-town{
  @include textMedium($titre, $secondary_1, bolder, 1.4rem, 0.1rem, 0.6rem, 1rem);
}
.location-department{
  @include textMedium($paragraphe, $secondary_1, normal, 0.8rem, 0.02rem, 0.8rem, 0.6rem);
}
.location-region{
  @include textMedium($paragraphe, $secondary_1, normal, 1rem, 0.05rem, 0.8rem, 1rem);
  margin-bottom: 1rem;
}
.location-carte{
  width: 220px;
  height: 220px;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.btn-change-pos{
  position: absolute;
  bottom: 0;
  width: 40%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  border-radius: 2rem;
  &:hover{
    opacity: 9;
    border: 1px solid $secondary_1;
    cursor: pointer;
  }
}



    

