@use "../styles/variables" as *;

.body{
  position: relative;
  top: 0;
  left: 0;
  // width: $BodyWith;
  // height: $BodyHeight;
  // background: $primary_4;
  background-image: url("./assets/Fond_001.jpg");
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-transform: none;
  font-family: $roboto;
  font-variant: normal;
}
.location-section{
  width: 100%;
  height: max-content;
}
.weather-section{
  position: relative;
  top: 2.5rem;
  width: 100%;
  height: max-content;
}
