@use "../styles/variables" as *;

.body-container{
  position: relative;
  height: 100vh;
  top: 0;
  left: 0;
  text-transform: none;
  font-family: $paragraphe;
  background-color: $fond;
  color: $texte;
  font-variant: normal;
}
.location-section{
  position: relative;
  width: 100%;
  height: max-content;
}
.weather-section{
  position: relative;
  top: 2.5rem;
  width: 100%;
  height: max-content;
}
