@mixin textMedium($fm, $fc, $fw, $fs, $ls, $pl, $mt){
  @if $fm == "barlow"{
    font-family: "barlow", sans-serif;
  } 
  @else if $fm == "roboto"{
    font-family: "roboto",sans-serif;
  }
  @else{
    font-family: "ubuntu",sans-serif;
  }
  font-size: $fs;
  font-weight: $fw;
  letter-spacing: $ls;
  padding-left: $pl;
  margin-top: $mt;
  color: $fc;
}