// colors default
$TextLight: #FFFFFF;
$TextDark: #0A3239;

// colors
$BodyBackground: #0A3239;

$HeaderText: #F5CDC6;
$HeaderHour: #F1F5AD;

$Line: #87E9BB;

$LocationText: #C1FFFA;

$ButtonBackground: rgba(65, 233, 239, 0.2);
$ButtonBackgroundHover: rgba(65, 233, 239, 0.4);
$ButtonText: rgb(190, 240, 119, 0.8);

$WeatherBackground: transparent;
$WeatherText: #F2F995;

$WindBackground: rgba(38, 103, 149, 0.6);
$WindTextLabels: $TextLight;
$WindValues: #F2F995;

$FooterBackground: transparent;
$FooterText: #41E9EF;
// Grid details
$ColTitleBackground: #588C95;
$ColTitleText: $TextLight;
$CeilBackground: #24464D;
$CeilValues: #F2F995;
$CeilLabels: $TextLight;
@font-face {
  font-family: 'courgette';
  src: url("../../assets/Roboto_Mono/static/RobotoMono-Regular.ttf") format('truetype') ;
}
@font-face {
  font-family: 'barlow';
  src: url("../../assets/Barlow/Barlow-Regular.ttf") format('truetype') ;
}
@font-face {
  font-family: 'ubuntu';
  src: url("../../assets/Ubuntu/Ubuntu-Regular.ttf") format('truetype') ;
}

$BodyWith: 412px;
$BodyHeight: 917px;




