@use "./styles/variables" as *;
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body{
  position: relative;
  top: 8px;
  left: 512px;
  width: $BodyWith;
  height: $BodyHeight;
  background: $BodyBackground;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-transform: none;
  font-variant: normal;
}