@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
h4{
  line-height: 2.2rem;
  text-align: right;
  margin: 0;
  font-family: $paragraphe;
  font-size: 0.9rem;
  font-weight: 300;
}
.oneDay-container{
  z-index: 2220;
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: max-content;
  transform: translateX(-105%);
  margin-bottom: 2rem;
  padding: 3rem 3rem 0 1rem;
  background: $windFond;
  box-shadow: 0px -1px 8px 3px $sectionFond;
  transition: all $transition ease-in-out;
  &.active{
    transform: translateX(0);
  }
}
.oneDay-entete{
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  h3{
    width: 8rem;
    top: 0;
    left: 2rem;
    color: $texte;
  }
  .btn-close{
    color: $texte;
    font-size: 1.4rem;
    font-weight: 100;
    background: transparent;
    padding: 0.25rem 0.8rem;
    border-radius: 2rem;
    border: none;
    &:hover{
      color: $texteClear;
      cursor: pointer;
    }
  }
}
.oneDay-box{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;  
}
.oneDay-labels{
  width: 10rem;
  display: flex;
  flex-direction: column;
  color: $texteClear;
  margin-top: 1rem;
  h4{
    width: 8.5rem;
    font-family: $paragraphe;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: right;
  }
}
.oneDay-card-box{
  overflow: scroll;
  scrollbar-color: $texteClear $windFond ;
  display: flex;
  flex-wrap: nowrap;
}
.oneDay-card{
  min-width: 7rem;
  display: flex;
  flex-direction: column;
  background: $fond2;
  padding:  0 0.5rem;
  margin-top: 1rem;
  border-radius: 4px;
  box-shadow: 0px 0px 30px -9px $fond; //rgba(0,0,0,0.75);
  img{
    width: 24px;
    height: 28px;
    margin: 0 auto;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.2rem;
    :nth-child(2){
      font-weight: 100;
      color: $texteClear;
    }
  }
  :nth-child(1) h4{
    color: $texte;
    font-family: $paragraphe;
    font-weight: 600;
  }
  :nth-child(9){
    font-size: 0.8rem;
    
  }
  .tendance{
    h4{
      font-size: 0.7rem;
    }
  }
} 

