@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
h4{
  line-height: 2.2rem;
  text-align: right;
  margin: 0;
  padding: 0 0.2rem;
  font-family: $paragraphe;
  font-size: 0.7rem;
  font-weight: 100;
}
.oneDay-container{
  z-index: 2220;
  position: absolute;
  top: 24%;
  left: 0;
  width: 90vw;
  height: 62%;
  overflow-y: scroll;
  scrollbar-color: $texteClear $windFond ;
  transform: translateX(-105%);
  margin-bottom: 2rem;
  padding: 3rem 3rem 0 1rem;
  background: $windFond;
  box-shadow: 0px -1px 8px 3px $sectionFond;
  transition: all $transition ease-in-out;
  &.active{
    transform: translateX(0);
  }
}
.oneDay-entete{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  h3{
    top: 0;
    left: 2rem;
    color: $texte;
  }
  .btn-retour{
    @include btnSimple(1.2rem, 2rem, 0.3rem, 1rem);
  }
}
.oneDays-datas{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;

}
.oneDay-labels{
  position:sticky;
  min-width: 8rem;
  display: flex;
  flex-direction: column;
  color: $texteClear;
  margin-top: 1rem;
  h4{
    width: 100%;
    font-family: $paragraphe;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: right;
  }
}
.oneDay-box{
  display: flex;  
}
.oneDay-card{
  min-width: 5rem;
  display: flex;
  flex-direction: column;
  background: $fond2;
  padding:  0 0.5rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  box-shadow: 0px 0px 30px -9px $fond; //rgba(0,0,0,0.75);
  img{
    width: 24px;
    height: 28px;
    margin: 0 auto;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    :nth-child(2){
      font-weight: 100;
      color: $texteClear;
    }
  }
  :nth-child(1) h4{
    margin: auto;
    color: $texte;
    font-family: $paragraphe;
  }
  :nth-child(9){
    font-size: 0.8rem;
    
  }
} 
