@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
.fiveDays-container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  .hide{
    transform: translateX(-150px);
  }
}
.uwd-header{
  font-weight: 600;
}
.uwd-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;

}
.uwd-card{
  width: 14%;
  background-color: gray;
  p{
    font-size: smaller;
  }
  img{
    width: 4rem;
  }
}