@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
.fiveDays{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  .hide{
    transform: translateX(-150px);
  }
}
.fiveDays-header{
  font-weight: 600;
}
.fiveDays-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

}
.fiveDays-card{
  width: 14%;
  background-color: $third_4;
  .todayDate{
    width: 100%;
    display: flex;
    justify-content: space-around;
    

  }
  p{
    font-size: smaller;
  }
  img{
    width: 4rem;
  }
}