@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.fiveDays-box{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  
}
.fiveDays-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.fiveDays-card{
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $third_4;
  .fiveDays-date{
    width: 100%;
    margin-bottom: 0.4rem;
    background-color: $third_3;
    .fiveDays-dayOfWeek{
      font-size: 16px;
      font-weight: 200;
      color: $secondary_1;
      margin: 0;
      padding: 0.5rem;
      text-align: center;
      
    }
    .fiveDays-dateJMA{
      font-size: smaller;
      margin: 0;
      padding-bottom: 0.5rem;
      text-align: center;
    }
  }
}
  .fiveDays-ephemeride{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img{
      width: 24px;
      height: 24px;
    }
    p{
      margin: 0;
      font-size:12px;
      font-weight: 500;
      color: $secondary_4;
    }
  }
  .fiveDays-tendance{
    font-size: 16px;
    color: $secondary_3;
    text-align: center;
  }
  img{
    width: 4rem;
  }