@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Imperial+Script&family=Kavivanar&family=Lora:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&family=Noto+Sans+JP:wght@100..900&family=Rozha+One&family=Viaoda+Libre&display=swap");
@font-face {
  font-family: "digital";
  src: url("./count/COUNT.otf") format("opentype");
}
.city-container {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 180px;
  transform: translateX(-105%);
  transition: all 1s ease-in-out;
  background-color: #031716;
  z-index: 1;
}
.city-container.active {
  transform: translateX(0);
}
.city-container .entete {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.city-container .entete .city-close {
  width: 36px;
  height: 36px;
  margin: 1rem 1rem 0 0;
}
.city-container .entete .city-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.city-comment {
  font-family: "Alegreya", serif;
  font-size: 0.7rem;
  font-weight: normal;
  letter-spacing: 0.01rem;
  padding-left: 0.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #f1cd68;
  margin-top: 2vh;
  margin-left: 1rem;
}

.input-box {
  position: relative;
  width: 60%;
  height: 3.3rem;
  display: flex;
  align-items: center;
  margin: 0 0 0 1rem;
}
.input-box input {
  z-index: 1000;
  width: 100%;
  height: 2.8rem;
  background-color: #032f30;
  border-radius: 8px;
  color: #f1cd68;
  outline: none;
  font-family: "Alegreya", serif;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  padding-left: 0.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0rem;
  color: #f1cd68;
}
.input-box input:focus-visible {
  opacity: 0.6;
}
.input-box .city-btn-cancel {
  z-index: 1001;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 0 4px 4px 0;
  transition: all 0.2s ease-in-out;
}
.input-box .city-btn-cancel:hover {
  opacity: 0.4;
  cursor: pointer;
}

.city-list {
  position: absolute;
  width: 90%;
  left: 1.4rem;
  max-height: 64vh;
  padding: 0.4rem 1rem 0.4rem 0.1rem;
  background: #032f30;
  z-index: 1000;
  overflow-y: scroll;
  scrollbar-color: #f1cd68;
  scrollbar-width: thin;
  scroll-padding-left: 0.5rem;
  cursor: pointer;
}

.city-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.city-item:hover {
  cursor: pointer;
  opacity: 0.6;
}

.city {
  width: 12rem;
  color: #f1cd68;
  margin: 0;
  padding: 0.2rem 0 0.4rem 0;
  border-bottom: 1px solid #f1cd68;
  font-family: "Alegreya", serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.03rem;
  padding-left: 0.3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
  color: #f1cd68;
}
.city.department {
  text-align: right;
}/*# sourceMappingURL=selectCity.css.map */