*{
  font-size: 1rem;
}
.city-search{
  input{
    padding: 0.2rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
  }
}
.city-list{
  position: absolute;
  height: 60vh;
  overflow: auto;
  background-color: rgb(10, 10, 11);
  gap: 1rem;
  &:hover{
    color: cornsilk;
    cursor: pointer;
  }
  span{
    display: flex;
    p{
      width: 16rem;
      line-height: 1rem;
      margin: 0.2rem;
    }
  }
}