@mixin textMedium($fm, $fc, $fw, $fs, $ls, $pl, $mt, $mb){
  font-family: $fm;
  font-size: $fs;
  font-weight: $fw;
  letter-spacing: $ls;
  padding-left: $pl;
  margin-top: $mt;
  margin-bottom: $mb;
  color: $fc;
}
@mixin btnClose($color, $hover){
  position: absolute;
  top:0.5rem;
  right: 2rem;
  border: none;
  color: $color;
  font-size: 2rem;
  background: transparent;
  &:hover{
    color: $hover;
    cursor: pointer;
  }
}