// fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//    font-family: 


$Roboto: "Roboto", sans-serif;
$Merriweather: "Merriweather", serif;

$Montserrat: "Montserrat", sans-serif;
$Playfair: "Playfair Display", serif;

$Oswald: "Oswald", sans-serif;
$Quicksand: "Quicksand", sans-serif;

$Bebas: "Bebas Neue", sans-serif;
$Nunito: "Nunito", sans-serif;

$Cabin: "Cabin", sans-serif;
$Alegreya: "Alegreya", serif;

$noir: #031716;
$noirMedium: #032f30;
$vert: #0a7075;
$vertClair: #0c969c;
$bleuClair:#6ba3be;
$bleuMedium: #274d60;

//
$titre: $Oswald;
$paragraphe: $Quicksand;
//
$fond: $bleuMedium;
$sectionFond: $noirMedium;
$texte: $bleuClair;





