@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
.weather-container{
  height: max-content;
  display: flex;
  justify-content: space-evenly;
}
.wind-container{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  .wind-state{
    @include textMedium($titre, 0.8rem, $texte, 200, 0.02rem, 0, 0, 0);
    margin-bottom: 0.2rem;
    text-align: center;
  }
  .wind-text{
    @include textMedium($titre, 0.8rem, $texte, 300, 0.05rem, 0, 0, 0);
    text-align: center;
    margin-bottom: 0.2rem;
  }
  .rose-box{
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    .rose-des-vents{
      position: absolute;
      z-index: 0;
      width: 80px;
      height: 80px;
    }
    .rose-fleche{
      z-index: 2;
      width: 48px; 
      height: 48px;
      transition: transform 0.6s ease;
      @for $i from 0 through 360{
        &.rotate-#{$i}{
          transform: rotate(#{$i}deg);
        }
      }
    }
  }
}
.nebulosite-container{
  width: 30%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  .nebulosite-text{
    // textMedium(family, size, color, weight, letterSpcg, p left, m top, m bottom)
    @include textMedium($titre, 0.8rem, $texte, 300, 0.05rem, 0, 0, 0);
    text-align: center;
  }
  .nebulosite-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
    .nebulosite{
      width: 80px;
      height: 80px;
      scale: 1;
      z-index: 0;
    }
  }
  .temperature{
// textMedium(family, size, color, weight, letterSpcg, p left, m top, m bottom)
  @include textMedium($titre, 1rem, $texte, 400, 0.05rem, 0, 1.4rem, 0);
    z-index: 0;
  }
}
.proba-container{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .proba-title{
    // textMedium(family, size, color, weight, letterSpcg, p left, m top, m bottom)
    @include textMedium($titre, 0.8rem, $texte, 200, 0.05rem, 0, 0, 0);
    text-align: center;
  }
  .proba-text{
    // textMedium(family, size, color, weight, letterSpcg, p left, m top, m bottom)
    @include textMedium($titre, 1.2rem, $texte, 400, 0.05rem, 0, 0, 0);
    text-align: center;
    margin-top: 25%;
  }

}




