@use "../../styles/variables" as *;
.header-container{
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  color: $texte;
  .header-date{
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 0.5rem;
  }
  .header-hour-box{
    display: flex;
    font-family: $titre;
    padding-right: 0.5rem;
    .header-hour{
      width: max-content;
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
    }
    .header-hour-dots{
      font-size: 1.8rem;
      animation: infinite ease-out;
      animation-name: clignote;
      animation-duration: 1s;
      @keyframes clignote {
        0%{
          opacity: 0.2;
          scale: 0.1;
        }
        40%{
          opacity: 0.4;
        }
        70%{
          opacity: 1;
        }
        100%{
          opacity: 1;
          scale: 1;
        }
      }
    }
    .header-second{
      width: max-content;
      padding-top: 1.3rem;
      font-size: 0.8rem;
      letter-spacing: 0.05rem;
    }
  }
}
